* {
	box-sizing: border-box;
}

body {
	background: grey;
}

h1 {
	text-align: left;
}

/* START OF HEADER */
header {
	background-color: #ad1d1d;
}

#header-nav {
	width : 100%;
	border-radius: 0;
	border: 0;
}

.navbar-header {
	width: 100%;
}

.navbar-brand {
  padding-top: 25px;
  margin-right: 5%;
}
.navbar-brand h1 { 
  color: black;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
  /*margin-right: 20%;*/
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

#nav-list {
  margin-top: 10px;
}
#nav-list li {
  color: black;
  text-align: center;
}

#nav-list a {
  color: black;
  text-align: center;
  text-decoration: none;
}


#nav-list li:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.8em;
}


.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle {
  float: right;
  clear: both;
  margin-top: 5%;
}

/* END OF HEADER*/

/* START OF MAIN BODY */

h2 {
	font-size: 3em;
}

#main-content > div {
	background-color: #ad1d1d;
	font-weight: bold;
	padding: 2%;
	margin: 2%;
}

.content-title {
	text-align: center;
	font-size: 2em;
	text-decoration: underline;
	margin-bottom: 2%;
	/*margin-top: 0;*/
}

/* END OF MAIN BODY */

/* START OF FOOTER */


/* END OF FOOTER */


/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Header */
  .navbar-brand {
    padding-top: 10px;
    height: 80px;
  }
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 10px;
    font-size: 5vw; /* 1vw = 1% of viewport width */
  }
  
  #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
  }
  
  #call-btn > a {
    font-size: 1.5em;
    display: block;
    margin: 0 20px;
    padding: 10px;
    border: 2px solid #fff;
    background-color: #f6b319;
    color: #951c49;
  }
  #xs-deliver {
    margin-top: 5px;
    font-size: .7em;
    letter-spacing: .1em;
    text-transform: uppercase;
  }
  /* End Header */